﻿@model MyContacts.UI.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h1>Edit Contact</h1>
        <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>
        <form action="/Home/EditContact" method="POST">
            <input type="hidden" name="ContactId" id="ContactId" value="@Model.ContactId"/>
            <p>
                <label>Name</label>
                <input type="text" id="Name" name="Name" value="@Model.Name" />
            </p>
            <p>
                <label>Phone</label>
                <input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" />
            </p>
            <button>Save</button>
        </form> 
    </div>
</body>
</html>
