﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser

@{
    ViewBag.Title = "UserDetails";
}

<h2>UserDetails</h2>

<div>@Model.Email</div>

<div>@Model.Id</div>

<div>@Model.PasswordHash</div>

<div>@Model.UserName</div>

