﻿
@{
    ViewBag.Title = "Demo";
    int anId = 5;
}

<h2>ToDo List</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    
    

    $(function () {
        var theAddButton = document.getElementById('addBtn');
        theAddButton.onclick = function () {
            var newListItem = document.createElement("li");

            var inputElem = document.getElementById("newItemInput");
            var theInput = inputElem.value;
            var textElem = document.createTextNode(theInput);

            newListItem.appendChild(textElem);

            var delBtn = document.createElement("button");
            delBtn.id = theInput;
            delBtn.appendChild(document.createTextNode("Delete"));
            delBtn.onclick = function () {
                alert(this.id);
            };

            newListItem.appendChild(delBtn);

            var ulElem = document.getElementById("theList");
            ulElem.appendChild(newListItem);
        };
    });
</script>

<div>
    <ul id="theList">
        @for (int i = 0; i < 3; i++)
        {
            <li>@i</li>
        }
    </ul>
</div>
<div>
    <h4>Add a new item</h4>
    <input type="text" id="newItemInput" /><button id="addBtn">Add</button>
</div>

