﻿
@{
    ViewBag.Title = "BindingSimpleTypes";
}

<h2>Standard Posting Using Simple Types as Parameters in the Post</h2>

@using (Html.BeginForm("BindingSimpleTypes", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Person Id</label>
        <input type="text" class="form-control" name="PersonId" />
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="FirstName" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="LastName" />
    </div>
    <button class="btn btn-primary">Submit</button>
}

