﻿
@{
    ViewBag.Title = "BindingMultipleObjects";
}

<h2>Binding Multiple Objects</h2>
<p>Conceptually it is in array</p>
@using (Html.BeginForm("BindingMultipleObjects", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Address 1 city</label>
        <input type="text" name="[0].City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address 1 state</label>
        <input type="text" name="[0].State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address 1 zipcode</label>
        <input type="text" name="[0].Zipcode" class="form-control" />
    </div>
    <hr />
    <div class="form-group">
        <label>Address 2 city</label>
        <input type="text" name="[1].City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address 2 state</label>
        <input type="text" name="[1].State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address 2 zipcode</label>
        <input type="text" name="[1].Zipcode" class="form-control" />
    </div>
    <hr />
    <div class="form-group">
        <label>Address 3 city</label>
        <input type="text" name="[2].City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address 3 state</label>
        <input type="text" name="[2].State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address 3 zipcode</label>
        <input type="text" name="[2].Zipcode" class="form-control" />
    </div>
    <button class="btn btn-primary">Submit</button>
}