﻿@model MvcModelBinding.Models.Person

@{
    ViewBag.Title = "Binding Complex Class Types";
}

<h2>How about a class in a class</h2>
<p>We will show both Razor and standard HTML</p>
@using (Html.BeginForm("BindingComplexClassTypes", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Person Id</label>
        @Html.TextBoxFor(m => m.PersonId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>City</label>
        @Html.TextBoxFor(m => m.HomeAddress.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>State</label>
        @Html.TextBoxFor(m => m.HomeAddress.State, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Zipcode</label>
        <input type="text" name="HomeAddress.Zipcode" class="form-control"/>
    </div>
    <button class="btn btn-primary">Submit</button>
}

