﻿@model MvcModelBinding.Models.Person

@{
    ViewBag.Title = "BindingClassTypes";
}

<h2>Standard Posting Using a Class Type in the Post</h2>
<p>We will also switch to Razor</p>
@using (Html.BeginForm("BindingClassTypes", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Person Id</label>
        @Html.TextBoxFor(m => m.PersonId, new { @class = "form-control" })
        @*<input type="text" class="form-control" name="PersonId" />*@
    </div>
    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @*<input type="text" class="form-control" name="FirstName" />*@
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @*<input type="text" class="form-control" name="LastName" />*@
    </div>
    <button class="btn btn-primary">Submit</button>
}

