﻿
@{
    ViewBag.Title = "CustomModelBinding";
}

<h2>Using IModelBinder to map a form to a C# object</h2>
@using (Html.BeginForm("CustomModelBinding", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="LastName" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Birth Date</label>
        <div class="form-inline">
            <select name="month" class="form-control">
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">July</option>
                <option value="8">Aug</option>
                <option value="9">Sept</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
            <select name="day" class="form-control">
                @for (int i = 1; i < 32; i++)
                {
                    <option>@i</option>
                }
            </select>
            <input type="text" name="year" class="form-control" placeholder="year" />
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
}

