﻿@model MvcModelBinding.Models.Person

@{
    ViewBag.Title = "Result";
}

<h2>Result 2</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress.Zipcode)
        </dd>
    </dl>
</div>