﻿@model List<MyContacts.UI.Models.Contact>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>My Contacts</h1>
        @*<h3><a href="/home/add">Add a new contact</a></h3>*@
        <h3>@Html.ActionLink("Add a new contact", "Add", "Home")</h3>
        @if (Model.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        @*<th>Phone</th>*@
                        <th>Is a Friend?</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model)
                    {
                        <tr>
                            <td>@contact.Name</td>
                            @*<td>@contact.PhoneNumber</td>*@
                            <td>@contact.IsFriend</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Home", new { id = @contact.ContactId }, null)
                            </td>
                            <td>
                                @using (Html.BeginForm("DeleteContact", "Home", FormMethod.Post))
                                {
                                    @* We can't use HiddenFor because it uses the Model, which is a List<Contact>
                                        Luckily there is a non *For method for manual binding *@
                                    @Html.Hidden("ContactId", contact.ContactId)
                                    <button>Delete</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>You do not have any contacts.  Go add one!</p>
        }

    </div>
</body>
</html>
