﻿@model List<ToDoListFullStackDemo.Models.ToDoItem>

@{
    ViewBag.Title = "My ToDo List";
}
<h2>My ToDo List</h2>
<div class="container table-of-items">
    <div class="row">
        <div class="col-md-4">
            To Do
        </div>
        <div class="col-md-2">
            Due Date
        </div>
        <div class="col-md-1">
            Complete?
        </div>
    </div>
    @foreach (var todo in Model)
    {
        var idForTodo = "todo" + todo.Id;
        var idForDueDate = "duedate" + todo.Id;
        var idForCompleted = "completed" + todo.Id;
        var idForDeleteBtn = "delBtn" + todo.Id;
        <div class="row todo-item">
            <input type="hidden" value="@todo.Id" name="Id" />
            <div class="col-md-4">
                <input type="text" id="@idForTodo" name="ToDo" value="@todo.ToDo" />
            </div>
            <div class="col-md-2">
                <input type="text" class="datepicker" id="@idForDueDate" name="DueDate" value="@todo.DueDate.ToShortDateString()" />
            </div>
            <div class="col-md-1">
                @Html.CheckBox("IsCompleted", todo.IsCompleted, new { id = idForCompleted, name = "IsCompleted" })
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger delete-btn" id="@idForDeleteBtn">X</button>
            </div>
        </div>
    }
</div>
<div>
    <button class="btn btn-default add-btn">Add</button>
</div>
<div>
    <input type="submit" value="Save" class="btn btn-primary" id="save-btn"/>
</div>

@section scripts {
    <script src="~/Scripts/app/ToDoListEditor.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
}
