﻿@{
    ViewBag.Title = "Home Page";
}

<h1> </h1>
<div class="row">
    <div class="col-md-3">
        <img src="@Url.Content("~/Content/Images/image.gif")" width="200" height="100"alt="small image" style="width: 175px; height: 100px;">
    </div>
    <div class="col-md-3">
        <img src="@Url.Content("~/Content/Images/image.gif")" width="200" height="100" alt="small image" style="width: 175px; height: 100px;">
    </div>
    <div class="col-md-3">
        <img src="@Url.Content("~/Content/Images/image.gif")" width="200" height="100" alt="Image here" style="width: 175px; height: 100px;">
    </div>
</div>

<h1></h1>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Resources</a></li>
    <li role="presentation"><a href="#">Account</a></li>
    <li role="presentation"><a href="#">Arrange</a></li>
    <li role="presentation"><a href="#">Empower</a></li>
    <li role="presentation"><a href="#">Innovate</a></li>
    <li role="presentation"><a href="#">Create</a></li>
    <li role="presentation"><a href="#">Design</a></li>
    <li role="presentation"><a href="#">Implement</a></li>
</ul>

<h1></h1>
<div class="row">
    <div class="col-md-9">
        <img src="@Url.Content( "~/Content/Images/Picture.gif")" width="900" height="500" alt="Picture here" style="width: 850px; height: 500px;">
    </div>
    <div class="col-md-3">
        <img src="@Url.Content( "~/Content/Images/News.gif")" width="300" height="500" alt="News here" style="width: 300px; height: 500px;">
    </div>
</div>

<h1></h1>
<div class="row">
    <div class="col-md-3">
        <img src="@Url.Content( "~/Content/Images/SmallPic.gif")" alt="Small Pic here" style="width: 275px; height: 200px;">
    </div>
    <div class="col-md-3">
        <img src="@Url.Content("~/Content/Images/SmallPic.gif")" alt="Small Pic here" style="width: 275px; height: 200px;">
    </div>
    <div class="col-md-3">
        <img src="@Url.Content( "~/Content/Images/SmallPic.gif")" alt="Small Pic here" style="width: 275px; height: 200px;">
    </div>
</div>
<