﻿@model SwcLms.Models.LmsUserViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("RegisterUnauthorizedUser", "Account", FormMethod.Post)) {
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Software Craftsman Guild - Learning Management System</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h4>Existing user login here</h4>
            </div>
            <div class="col-md-6 text-center">
                <h4>New user? Register now!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="input-group">
                        <label class="form-inline">Email</label>
                        <input class="form-inline" type="text" />
                    </div>
                    <div class="input-group">
                        <label class="form-inline">Password</label>
                        <input class="form-inline" type="password" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="well">
                    <div style="overflow: hidden;" class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Register" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        }
