﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CarDealership.Models.Car
@{
    ViewBag.Title = "Delete Vehicle";
}

<h2>@ViewBag.Title</h2>
<h1>@ViewBag.Message</h1>

@using (Html.BeginForm("DeleteCar", "Car", FormMethod.Post))
{
    <div>
        <div>
            @Html.HiddenFor(m => m.Id)
            <button>Delete</button>
            @Html.ActionLink("Index", "Car")
        </div>

    </div>
}
