﻿@model CarDealership.Models.Car
@{
    ViewBag.Title = "Details";
}
<h2>@Model.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="A car" class="car-image"/>
        </div>
        <div class="col-md-8">
            <div>
                @Model.Description
            </div>
            <h1>ONLY @string.Format("{0:C}", Model.Price)</h1>
        </div>
        <div>
            @*@Html.ActionLink("<button>Edit</button>", "Edit", "Car", new { id = Model.Id })*@
            @using (Html.BeginForm("Edit", "Car", new {id = Model.Id}))
            {
                <button>Edit</button>
            }
            @using (Html.BeginForm("Delete", "Car", new {id = Model.Id}))
            {
                <button>Delete</button>
            }
        </div>
    </div>
</div>
