﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CarDealership.Models.Car
@{
    ViewBag.Title = "Edit This Car";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("EditCar", "Car", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div>
        @Html.ValidationSummary(true)
    </div>
    <div>
        <div class="form-group">
            <label>Vehicle Make</label><br/>
            @Html.TextBoxFor(m => m.Make)
        </div>
        <div class="form-group">
            <label>Vehicle Model</label><br/>
            @Html.TextBoxFor(m => m.Model)
        </div>
        <div class="form-group">
            <label>Vehicle Year</label><br/>
            @Html.TextBoxFor(m => m.Year)
        </div>
        <div class="form-group">
            <label>Post your vehicle photo here</label><br/>
            @Html.TextBoxFor(m => m.ImageUrl)
        </div>
        <div class="form-group">
            <label>Title</label><br/>
            @Html.TextBoxFor(m => m.Title)<br/>
        </div>
        <div class="form-group">
            <label>Description</label><br/>
            @Html.TextAreaFor(m => m.Description)<br/>
        </div>
        <div class="form-group">
            <label>Price</label><br/>
            @Html.TextBoxFor(m => m.Price)<br/>
        </div>

        <button>Update</button>

    </div>
}



