﻿@model List<SwcLms.Models.LmsUser>

@{
    ViewBag.Title = "VerifyUsers";
}

<h2>VerifyUsers</h2>
<div class="container">
    @foreach (var user in Model)
{
        <div class="row">
            <div class="col-md-3">@Html.ActionLink("Authorize", "AuthorizeUser", new { id = user.UserId })</div>
            <div class="col-md-3">@user.FirstName</div>
            <div class="col-md-3">@user.LastName</div>
            <div class="col-md-3">@user.Email</div>
        </div>
        }
    </div>
