﻿@model MyContacts.UI.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <h1>Add Contact</h1>
        <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>

        @using (Html.BeginForm("AddContact", "Home", FormMethod.Post))
        {
            @Html.Partial("_ContactAddEdit")
        }
            
        
    </div>
</body>
</html>
