﻿@model MyContacts.UI.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h1>Edit Contact</h1>
        <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>
        @using (Html.BeginForm("EditContact", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.ContactId)
            @Html.Partial("_ContactAddEdit")
        <p>
            @foreach (var number in Model.PhoneNumbers)
            {
            <p>
                <span>Number: </span>
                <span>@number.Number</span>
            </p>
                <p>
                    <span>Type: </span>
                    <span>@number.TypeOfNumber</span>
                </p>
            }
        </p>
            <p>
                @Html.ActionLink("Add Phone Number", "AddPhone", "PhoneNumber", new { contactId = Model.ContactId }, null)
            </p>
        }
    </div>
</body>
</html>
