﻿@model MyContacts.UI.Models.Contact

<div>
    
    <p>
        <label>Name</label>
        @Html.TextBoxFor(m => m.Name)
    </p>
    <p>
        <label>Phone</label>
        @Html.TextBoxFor(m => m.PhoneNumber)
    </p>
    <p>
        <label>Friend</label>
        @Html.CheckBoxFor(m => m.IsFriend)
    </p>
    <button>Save</button>
</div>