﻿@model MyContacts.UI.Models.PhoneNumber

@{
    ViewBag.Title = "AddPhone";
    int contactId = ViewBag.ContactId;
    var items = Enum.GetNames(typeof(MyContacts.UI.Models.NumberType)).Select(x => new SelectListItem()
    {
        Text = x,
        Value = ((int)Enum.Parse(typeof(MyContacts.UI.Models.NumberType), x)).ToString()
    });
}

<h2>Add Phone Number to @ViewBag.ContactName contact</h2>

@using (Html.BeginForm("AddPhoneNumber", "PhoneNumber", FormMethod.Post))
{
    @Html.Hidden("contactId", contactId)
    <div>
        <label>Phone Number</label>
        @Html.TextBoxFor(m => m.Number)
    </div>
    <div>
        <label>Phone Number Type</label>
        @Html.DropDownListFor(m => m.TypeOfNumber, items)
    </div>
    <div>
        <button>Submit</button>
    </div>
}
