﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>We are going to have a LAN Party! <small>register using the link below</small></h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li>@Html.ActionLink("Register Now - Unobtrusive", "RegistrationForm")</li>
            <li>@Html.ActionLink("Register Now - Custom jQuery Validate", "RegistrationForm2")</li>
        </ul>      
    </div> 
</div>
