﻿
@{
    ViewBag.Title = "Index";
}

<!-- this is where the index.cshtml starts -->
<h2>Index</h2>

<p>I have an awesome shared layout!</p>

    @section scripts
    {
        <script>
            alert('hello!');
        </script>
    }