﻿

    @model List<ViewOrganization.Models.Player>

    @{
        ViewBag.Title = "Roster";
    }

    <h2>Roster</h2>

    @foreach(var player in Model)
    {
        @Html.Partial("_Player", player)
    }
