﻿

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <title>Action Name</title>
        </head>
        <body>
            <div>The controller is: @ViewBag.Controller</div>
            <div>The action is: @ViewBag.Action</div>
        </body>
    </html>
